body {
    height: 100vh;
    background-image: url('StarBase.png');
    background-size: 1500px 750px;
    background-position: center;
    background-repeat: repeat;
    animation: scrollBg 60s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 3000px;
}

@keyframes scrollBg {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1500px 750px;
    }
}

.profile-card {
    position: relative;
    width: 787px;
    height: 450px;
}

input[type="checkbox"] {
    display: none;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

input:checked+.card {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.face:hover {
    box-shadow: 0px 100px 70px rgba(0, 0, 0, 0.3);
}

.face img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: solid 2px;
    border-color: rgba(207, 207, 207, 1);
    box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5);
}

.front-face {
    z-index: 2;
}

.back-face {
    transform: rotateY(180deg);
}

.links {
    display: none;
}


.square {
    width: 120px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    cursor: pointer;
    border: none;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    filter: blur(40px);
}


.first {
    top: 43%;
    left: 20%;
}

.first:hover {
    background-color: rgba(234, 237, 12, 0.2);
}

.second {
    top: 33%;
    left: 35%;
}

.second:hover {
    background-color: rgba(102, 237, 12, 0.2);
}

.third {
    top: 43%;
    left: 50%;
}

.third:hover {
    background-color: rgba(12, 237, 237, 0.2);
}


.fourth {
    top: 33%;
    left: 65%;
}

.fourth:hover {
    background-color: rgba(12, 16, 237, 0.2);
}

.fifth {
    top: 43%;
    left: 80%;
}

.fifth:hover {
    background-color: rgba(237, 12, 57, 0.2);
}
